<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.guitar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".sharedpref.SharedPrefActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".maps.MapActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBypRPXcvAG2TU6TwpqhG14Vz9yYnjkfg" />

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".learning.LearningActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".web.WebActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".exercise.CatalogActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".exercise.EditorActivity"
            android:parentActivityName=".exercise.CatalogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.guitar.exercise.CatalogActivity" />
        </activity>
        <activity
            android:name=".firebaseblogapp.ForgotPasswordActivity"
            android:parentActivityName=".firebaseblogapp.BlogActivity" />
        <activity
            android:name=".firebaseblogapp.AddPostActivity"
            android:parentActivityName=".firebaseblogapp.HomeActivity" />
        <activity android:name=".firebaseblogapp.HomeActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".firebaseblogapp.RegisterActivity"
            android:parentActivityName=".firebaseblogapp.BlogActivity" />
        <activity android:name=".firebaseblogapp.BlogActivity"
            />

        <provider
            android:name=".data.ExerciseProvider"
            android:authorities="com.example.android.guitar.data"
            android:exported="false" />
    </application>

</manifest>